.add-train-form {
    width: 300px;
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .dropdown {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .add-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Add hover   effect to the search button */
  .add:hover {
    background-color: darkorange;
  }


  .popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    z-index: 1000;
    animation: fadeOut 3s forwards;
  }
  
  .popup-icon {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  