.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Style list items */
.nav-item {
    flex: 1;
    text-align: center;
    font-size: small;
}
/* Style links */
.nav-item a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
 /* Optional: adds a border around each item */
}
.login{
background-color: #213d77;
border-color: 1px solid black;
}

/* Add hover effect */
.nav-item .login a:hover {
    background-color: #f0f0f0;
}
/* Style for the .box */
.box {
    background-color: #fcfcfc; /* Light background color to differentiate from the background */
    border: 2px solid #007bff; /* Blue border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    margin: 20px auto; /* Center the box with margin */
    width: fit-content;/* Adjust width to fit content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a 3D effect */
    transition: transform 0.3s ease-out; /* Smooth animation for transformation */
  }
  
  /* Animation on hover */
  .box:hover {
    transform: scale(1.05); /* Slightly increase the size on hover */
  }